<br />
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img
              src="https://avatars.githubusercontent.com/u/65623713?v=4"
              alt="My Picture"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Furkan Utku EMRE</p>
        </div>
      </div>

      <div class="content">
        Don't mind me, just trying things out with Bulma. Perhaps one day this
        will be a portfolio site!
        <br />
        <time datetime="15.09.2021">9:07 PM - 15 Sep 2021</time>
      </div>
    </div>
  </div>
</div>
