<div>
  <app-header></app-header>
</div>

<div class="container is-fluid">
  <div class="columns">
    <div class="column">
      <app-card></app-card>
      <br />
      <div class="columns is-mobile">
        <div class="column">
          <app-repositories></app-repositories>
        </div>
        <div class="column">
          <app-songs></app-songs>
        </div>
      </div>
    </div>
    <div class="column">
      <app-form></app-form>
    </div>
  </div>
  <app-hero></app-hero>
  <br />
  <app-message></app-message>
  <progress class="progress is-link" value="100" max="100"></progress>
</div>

<div>
  <app-footer></app-footer>
</div>
