<article class="message is-link">
  <div class="message-header">
    <p>Primary</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    This project is just a template to learn a little bit more about Bulma
    components. I was bored one night and wanted to try something different than
    Bootstrap. Therefore you will see huge amounts of placeholder text below.
    <br />
    <br />
    As you can simply guess, nothing in this page really works, there is no real
    design or anything. But that was never the intend anyway. There are just
    some random components styled minimally to check them out. Wanted to see if
    Bulma components looked good and if the integration with Angular was fine.
    This entire project has its own repository just because I wanted this
    somewhere I can access when, or if, I ever want to use this CSS Framework.
    <br />
    <br />
    Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et
    sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a
    neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quas nihil nostrum cumque
    et eligendi odio tempore eveniet qui iste illum sed amet reprehenderit
    laborum sapiente minima illo, unde quia quod. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Accusamus ad quaerat cum deleniti voluptate
    eius alias repudiandae impedit porro quo? Architecto laudantium praesentium
    animi ex esse doloribus numquam velit aut. Lorem ipsum, dolor sit amet
    consectetur adipisicing elit. Similique, repellat! Odio quas esse suscipit
    possimus ipsa sunt qui enim voluptatum culpa quae quidem aliquid quo minus,
    aperiam iusto officiis totam?
  </div>
</article>
