<div class="container">
  <article class="panel is-link has-background-link-light">
    <p class="panel-heading">Songs</p>
    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Liked</a>
      <a>Artists</a>
      <a>Albums</a>
      <a>Playlists</a>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-link" type="text" placeholder="Search" />
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      Pink Floyd - Echoes
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      Pink Floyd - Comfortably Numb
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      The Black Keys - Weight of Love
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      The Civil Wars - Billie Jean
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      Anathema - Temporary Peace
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      Portishead - Roads
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      Starsailor - Way to Fall
    </a>
  </article>
</div>
